@import url("/css/common/page.css");
@import url("/css/common/tooltip.css");
@import url("/css/common/tab.css");
@import url("/css/common/rarity.css");
@import url("/css/common/reinforce.css");
@import url("/css/search/search.css");
@import url("/css/characters/character.css");
@import url("/css/characters/buff-equip.css");
@import url("/css/characters/equipment.css");
@import url("/css/characters/avatar.css");
@import url("/css/characters/flag.css");
@import url("/css/characters/creature.css");
